<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_flink.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            console.log('Async mode is: {{ async_mode }}')

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = "{{ namespace }}";

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var url = "http://{{ domain }}:{{ port }}" + namespace
            console.log(url)
            var socket = io(url);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('system_message', function(msg, cb) {
                //console.log(msg);
                $('#chat').append('<p><span class="utt-author">system</span>: <span class="utt-content-container"><span class="utt-content-system">' + msg.data + '</span></span></p>');
                if (cb)
                    cb();
            });
            socket.on('log', function(msg, cb) {
                console.log(msg);
                if (cb)
                    cb();
            });


            socket.on('answer', function(msg, cb) {
                console.log(msg);
                $('#chat').append('<p class="utterance"><span class="utt-author">bot</span>: <span class="utt-content-container"><span class="utt-content">' + msg.prediction + '</span></span></p>');

                // get previous history elems
                var history_old = $('#chat .utterance .utt-content-container');
                var history = msg.history;
                if (!(typeof msg.history_annotated === 'undefined' || msg.history_annotated === null)) {
                    history = msg.history_annotated;
                }
                var background = msg.background;
                if (msg.explain){
                    history = msg.explanation.history;
                    if (Object.keys(msg.explanation.background).length > 0){
                        background = msg.explanation.background;
                    }
                }
                console.log('received history.length: ', history.length / 2)
                var offset = history.length - history_old.length;
                //console.log(history_old);
                //console.log(history);
                //console.log(offset);
                for (var i = 0; i < history_old.length; i++) {

                    let elem_old = $.parseHTML('<span class="utt-content-unused">'+ history_old[i].innerText + '</span>')[0];
                    let elem_new = i + offset >= 0 ? $.parseHTML('<span class="utt-content">' + history[i + offset] + '</span>')[0] : null
                    let elem = (elem_new !== null && elem_new.innerText == elem_old.innerText) ? elem_new : elem_old;
                    //console.log(elem);
                    history_old.eq(i).html(elem);
                }

                // handle background
                if (!(typeof background === 'undefined' || background === null)) {
                    $('#background-container').empty();
                    for (let [key, value] of Object.entries(background)) {
                        var text = value
                        if (!(typeof value.text === 'undefined' || value.text === null)) {
                            text = value.text
                        }
                        $('#background-container').append(
                            '<label class="collapsible">\
                                <input type="checkbox" />\
                                <span class="arrow">></span>\
                                <span class="collapser"><span class="name">' + key + '</span></span>\
                                <span><a href="'+ key +'" target="_blank">(source)</a></span>\
                                <div class="collapsed"><span class="content">' + text +'</span></div>\
                            </label>'
                        );
                    }
                    $('#background').show();
                } else {
                    $('#background').hide();
                }

                if (cb)
                    cb();
            });
            socket.on('message', function(msg, cb) {
                //console.log(msg);
                $('#chat').append('<p class="utterance"><span class="utt-author">'+msg.username+'</span>: <span class="utt-content-container"><span class="utt-content">' + msg.data + '</span></span></p>');
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#ask').on("click", ":submit", function(event) {
                var explain = $('#explain').is(":checked");
                var action = $(this).val();
                var username = $('#username_data').val().trim();
                if (username == '') {
                    username = 'you'
                }
                console.log(username);
                if (action == 'ask'){
                    var history = $('#chat .utterance .utt-content').toArray().map(function(i){ return i.innerText })
                    socket.emit('ask', {user_input: $('#ask_data').val(), history: history, explain: explain, username: username});
                 } else if (action == 'send') {
                    socket.emit('send_message', {data: $('#ask_data').val(), username: username});
                 }
                 return false;
            });
            $('form#room').on("click", ":submit", function(event) {
                var action = $(this).val();
                if (action == 'enter') {
                    socket.emit('enter', {room: $('#enter_room_data').val()});
                } else if (action == 'leave') {
                    socket.emit('leave');
                }
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Chatty Chat</h1>
    <div class="input-container">
        <form id="user">
            <label for="username_data">username</label>
            <input name="username" id="username_data">
        </form>
        <form id="room" method="POST" action='#'>
            <label for="enter_room_data">room</label>
            <input type="text" name="enter_room" id="enter_room_data" placeholder="Room Name">
            <br/>
            <button type="submit" name="action" value="enter">Enter Room</button><button type="submit" name="action" value="leave">Leave Room</button>
        </form>
    </div>
    <div id="background" style="display:none">
        <h2>Queried Background Information</h2>
        <div id="background-container"></div>
    </div>
    <h2>Chat</h2>
    <div id="chat" class="history"></div>
    <form id="ask" method="POST" action='#'>
        <input title="enter a question or some random stuff" name="ask_data" id="ask_data" type="text" /><button type="submit" name="action" value="ask">send</button>{# <button type="submit" name="action" value="send">send</button> #} <label for="explain">explain<input id="explain" type="checkbox" name="explain"/></label>
    </form>
</body>
</html>
