<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_flink.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            console.log('Async mode is: {{ async_mode }}')

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = "{{ namespace }}";

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var url = "http://{{ domain }}:{{ port }}" + namespace
            console.log(url)
            var socket = io(url);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('system_message', function(msg, cb) {
                //console.log(msg);
                $('#chat').append('<p><span class="utt-author">system</span>: <span class="utt-content">' + msg.data + '</span></p>');
                if (cb)
                    cb();
            });
            socket.on('log', function(msg, cb) {
                console.log(msg);
                if (cb)
                    cb();
            });


            socket.on('question', function(msg, cb) {
                console.log(msg);
                $('#chat').append('<p class="utterance"><span class="utt-author">question</span>: <span class="utt-content">' + msg.question + '</span></p>');
                if (cb)
                    cb();
            });
            socket.on('answer', function(msg, cb) {
                console.log(msg);
                $('#chat').append('<p class="utterance"><span class="utt-author">answer</span>: <span class="utt-content">' + msg.prediction + '</span></p>');

                // get previous history elems
                var history_old = $('#chat .utterance .utt-content'); //.toArray()
                console.log(history_old);
                var history = msg.history;
                if (!(typeof msg.history_annotated === 'undefined' || msg.history_annotated === null)) {
                    history = msg.history_annotated;
                }
                var background = msg.background;
                if (msg.explain){
                    console.log('explain was used');
                    history = msg.explanation.history;
                    background = msg.explanation.background;
                }
                console.log(history_old.length)
                console.log(history.length)
                var offset = history.length - history_old.length
                for (var i = 0; i < history_old.length; i++) {

                    if (i + offset >= 0){
                        elem = history[i + offset];
                    } else {
                        // take only text from old
                        elem = '<span class="utt-content-unused">'+ history_old[i].innerText + '</span>';
                    }
                    console.log(elem);
                    history_old.eq(i).html(elem);
                }

                // handle background
                if (!(typeof background === 'undefined' || background === null)) {
                    $('#background-container').empty();
                    for (let [key, value] of Object.entries(background)) {
                        console.log(key, value);
                        var text = value
                        if (!(typeof value.text === 'undefined' || value.text === null)) {
                            text = value.text
                        }
                        $('#background-container').append(
                            '<label class="collapsible">\
                                <input type="checkbox" />\
                                <span class="arrow">></span>\
                                <span class="collapser"><span class="name">' + key + '</span></span>\
                                <div class="collapsed"><span class="content">' + text +'</span></div>\
                            </label>'
                        );
                    }
                    $('#background').show();
                } else {
                    $('#background').hide();
                }

                if (cb)
                    cb();
            });
            socket.on('message', function(msg, cb) {
                console.log(msg);
                $('#chat').append('<p class="utterance"><span class="utt-author">message</span>: <span class="utt-content">' + msg + '</span></p>');
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#ask').on("click", ":submit", function(event) {
                var explain = $('#explain').is(":checked");
                var action = $(this).val();
                if (action == 'ask'){
                    var history = $('#chat .utterance .utt-content').toArray().map(function(i){ return i.innerText })
                    socket.emit('ask', {user_input: $('#ask_data').val(), history: history, explain: explain});
                 } else {
                    socket.emit('send_message', {data: $('#ask_data').val()});
                 }
                 return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave');
                return false;
            });
            $('form#enter').submit(function(event) {
                socket.emit('enter', {room: $('#enter_room').val()});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Chatty Chat</h1>
    <form id="enter" method="POST" action='#'>
        <input type="text" name="enter_room" id="enter_room" placeholder="Room Name">
        <input type="submit" value="Enter Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="submit" value="Leave Room">
    </form>
    <div id="background" style="display:none">
        <h2>Queried Background Information</h2>
        <div id="background-container"></div>
    </div>
    <h2>Chat:</h2>
    <div id="chat" class="history"></div>
    <form id="ask" method="POST" action='#'>
        <input title="enter a question or some random stuff" name="ask_data" id="ask_data" type="text" /><button type="submit" name="action" value="ask">send</button>{# <button type="submit" name="action" value="send">send</button> #} <label for="explain">explain<input id="explain" type="checkbox" name="explain"/></label>
    </form>
</body>
</html>
